<h4 class="text-primary mb-3">Produtos Adicionados</h4>
<div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">


        <div class="row g-0">
            <div class="col-md-3">
                <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                        Inteligência...</h6>
                    <p class="card-text">R$ 2.999,99</p>
                    <p class="card-text"><small class="text-muted">3 Unidades</small></p>
                    <button class="btn btn-sm btn-outline-danger float-right" type="button"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                        Inteligência...</h6>
                    <p class="card-text">R$ 2.999,99</p>
                    <p class="card-text"><small class="text-muted">3 Unidades</small></p>
                    <button class="btn btn-sm btn-outline-danger float-right" type="button"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-carrinho-total></app-carrinho-total>