<h4 class="text-primary mb-3">Produtos Adicionados</h4>
<div class="list-group">
    <div *ngFor="let produto of carrinho?.produtos" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row g-0">
            <div class="col-md-3">
                <img [src]="produto.imagem"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h6 class="card-title">{{produto.nome}}</h6>
                    <p class="card-text">{{produto.preco}}</p>
                    <p class="card-text"><small class="text-muted">{{produto.quantidade}} Unidades</small></p>
                    <button class="btn btn-sm btn-outline-danger float-right" type="button"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" *ngIf="carrinho?.produtos?.length == 0">Nenhum produto adicionado</div>
</div>
<app-carrinho-total [carrinho]="carrinho"></app-carrinho-total>