<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Nossa Loja</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Pesquisar</button>
        </form>

    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-lg-8 pe-4">
            <div class="row">
                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <span class="badge bg-warning"><i class="fa fa-star"></i></span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="row mb-2 float-end">
                                <div class="col-12">
                                    <button class="btn btn-sm btn-outline-warning"> <i class="fa fa-star"></i> Favoritar</button>
                                </div>
                            </div>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6   mt-3">
                    <div class="card">
                        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                            class="card-img-top p-4 pb-0" alt="...">
                        <div class="card-body">
                            <span class="badge bg-success">Super Oferta</span>
                            <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                Inteligência...</h6>
                            <p class="card-text">R$ 2.999,99</p>

                            <div class="input-group">
                                <input type="number" placeholder="Qtd" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">Quero Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>











            </div>
        </div>
        <div class="col-lg-4 pt-3 ps-4">
            <h4 class="text-primary mb-3">Produtos Adicionados</h4>
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start">


                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                    Inteligência...</h6>
                                <p class="card-text">R$ 2.999,99</p>
                                <p class="card-text"><small class="text-muted">3 Unidades</small></p>
                                <button class="btn btn-sm btn-outline-danger float-right" type="button"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1339605537"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h6 class="card-title">Smart TV LED 50" UHD 4K LG 50UN7310PSC Wi-Fi, Bluetooth, HDR,
                                    Inteligência...</h6>
                                <p class="card-text">R$ 2.999,99</p>
                                <p class="card-text"><small class="text-muted">3 Unidades</small></p>
                                <button class="btn btn-sm btn-outline-danger float-right" type="button"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group mt-4">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active text-white">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Meu Pedido</h5>
                        <small>6 Intens Adicionados</small>
                    </div>
                    <p class="mb-1">R$ 9.999,00</p>
                    <small>Taxa Entrega: 9,90</small>
                </a>
            </div>


        </div>

    </div>
</div>