<div class="card">
    <img [src]="produto?.imagem" class="card-img-top p-4 pb-0" alt="...">
    <div class="card-body">
        <span class="badge bg-success" *ngIf="produto?.isSuperOferta">Super Oferta</span>
        <span class="badge bg-warning" *ngIf="produto?.isFavorito"><i class="fa fa-star"></i></span>
        <h6 class="card-title">{{produto?.nome}}</h6>
        <p class="card-text">{{produto?.preco}}</p>

        <div class="row mb-2 float-end">
            <div class="col-12">
                <button class="btn btn-sm btn-outline-warning"> <i class="fa fa-star"></i> Favoritar</button>
            </div>
        </div>

        <div class="input-group">
            <input type="number" placeholder="Qtd" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-success" type="button">Quero Adicionar</button>
            </div>
        </div>
    </div>
</div>